@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
}

.dark h1,
.dark q,
.dark p {
  color: white;
}

#nprogress .bar {
  background: #1d68ff !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #1d68ff, 0 0 0.3125rem #1d68ff !important;
}

#nprogress .spinner-icon {
  border-top-color: #1d68ff !important;
  border-left-color: #1d68ff !important;
}

/* change nprogress color when screen width more than 768px (tablet mode) */
@media only screen and (min-width: 768px) {
  #nprogress .bar {
    background: #f3f4f6 !important;
  }

  #nprogress .peg {
    box-shadow: 0 0 0.625rem #f3f4f6, 0 0 0.3125rem #f3f4f6 !important;
  }

  #nprogress .spinner-icon {
    border-top-color: #f3f4f6 !important;
    border-left-color: #f3f4f6 !important;
  }
}
